<a href="https://colab.research.google.com/github/josuereta/tps-pii-colab/blob/main/Lista_string_tupla_josue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Lista de alumnos
alumnos = [
    "Alurralde, Solange Stefania",
    "Alvarado, Ludmila Del Milagro",
    "Angel, Camila Juliana",
    "Arenas, Lucas Gabriel",
    "Caseres, Maria Antonia",
    "Castillo, Paulina Milagros",
    "Correa Segovia, Hugo Mariano",
    "D Elia, Alvaro Tadeo",
    "Flores, Victoria Agustina",
    "Geronimo Soriano, Lizzie Amaya",
    "GUZMAN, ANGÉLICA MORENA",
    "Guzman, Jazmin Esmeralda Belen",
    "Jaime, Anita Maria Belen",
    "Lacour Polo, Nazarena",
    "Lascano Guanca, Marcelo Fabricio",
    "Lezcano, Celia Morena",
    "Mamani Kynast, Nicolas Mauricio",
    "Martinez, Tomas Andres",
    "PORTELLA VALDIVIA, PEDRO FRANCISCO",
    "Retamal Cisneros, Zacarias Josue",
    "Rosales, Francisco Gabriel",
    "Salem Barba, Mahia",
    "Soto Camara, Agustin Ignacio",
    "Villalba, Irina",
    "Voltolini, Emanuel Tobias",
    "Zalazar, Santino Stefano",
    "ABUD LASPIUR, LOURDES MARIEL",
    "Amador, Luana Micaela",
    "Anaquin, Leonardo Ezequiel",
    "Araoz Sanchez, Lautaro Nahuel",
    "Argañaraz, Agostina Abril",
    "Barrera, Matias Ezequiel",
    "Barrozo Vedia, Joaquin Nicolas",
    "Bettinelli, Valentino",
    "Bracamonte Martinez, Salvador",
    "Colque Rivero, Ariana Zoe Del Valle",
    "Diaz, Dulce Maitena",
    "FIGUEROA, SANTINO JOSUE",
    "Flores Cardozo, Agustina Tiara",
    "Gallo, Octavio Ismael",
    "Galvan, Lourdes Yamila",
    "Giangreco, Vitto Tomasso",
    "Grancara, Martina Luna",
    "Guanca, Sara Elizabeth",
    "Lopez, Victoria Constanza",
    "Mamani Garrido, Rosario Agostina",
    "Marinaro, Martin Ezequiel",
    "Merluzzi Dagum, Ignacio",
    "Messina, Martina",
    "RASUK, KARIM",
    "Rios, Lucia Magali",
    "Sanchez Flores, Matías Agustín",
    "Scarano, Renato Marcelo",
    "Sierra, Lucas Mauricio",
    "Tapia, Martin Gabriel",
    "Vilte, Mia Antonella Alondra",
    "Virgillito, Katya Milena"
]

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La creación del fork.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Reemplaza todos los valores por los que obtengas del método title(). De esta manera tu lista quedara con los datos más homogéneos.

In [2]:
for i in range(len(alumnos)):
  alumnos[i] = alumnos[i].title()

In [3]:
for alumno in alumnos:
  print(alumno)

Alurralde, Solange Stefania
Alvarado, Ludmila Del Milagro
Angel, Camila Juliana
Arenas, Lucas Gabriel
Caseres, Maria Antonia
Castillo, Paulina Milagros
Correa Segovia, Hugo Mariano
D Elia, Alvaro Tadeo
Flores, Victoria Agustina
Geronimo Soriano, Lizzie Amaya
Guzman, Angélica Morena
Guzman, Jazmin Esmeralda Belen
Jaime, Anita Maria Belen
Lacour Polo, Nazarena
Lascano Guanca, Marcelo Fabricio
Lezcano, Celia Morena
Mamani Kynast, Nicolas Mauricio
Martinez, Tomas Andres
Portella Valdivia, Pedro Francisco
Retamal Cisneros, Zacarias Josue
Rosales, Francisco Gabriel
Salem Barba, Mahia
Soto Camara, Agustin Ignacio
Villalba, Irina
Voltolini, Emanuel Tobias
Zalazar, Santino Stefano
Abud Laspiur, Lourdes Mariel
Amador, Luana Micaela
Anaquin, Leonardo Ezequiel
Araoz Sanchez, Lautaro Nahuel
Argañaraz, Agostina Abril
Barrera, Matias Ezequiel
Barrozo Vedia, Joaquin Nicolas
Bettinelli, Valentino
Bracamonte Martinez, Salvador
Colque Rivero, Ariana Zoe Del Valle
Diaz, Dulce Maitena
Figueroa, Santino Josue
Flores Cardozo, Agustina Tiara
Gallo, Octavio Ismael
Galvan, Lourdes Yamila
Giangreco, Vitto Tomasso
Grancara, Martina Luna
Guanca, Sara Elizabeth
Lopez, Victoria Constanza
Mamani Garrido, Rosario Agostina
Marinaro, Martin Ezequiel
Merluzzi Dagum, Ignacio
Messina, Martina
Rasuk, Karim
Rios, Lucia Magali
Sanchez Flores, Matías Agustín
Scarano, Renato Marcelo
Sierra, Lucas Mauricio
Tapia, Martin Gabriel
Vilte, Mia Antonella Alondra
Virgillito, Katya Milena

2. Desarrolla un script que permita ingresar un nombre y muestre cuantas veces aparece este en la lista

In [4]:
nombre = input("Ingrese un nombre: ").title()
nombres = []
for alumno in alumnos:
  alumno_nombres = alumno.replace(',','').split()
  nombres.extend(alumno_nombres)
print(f"El nombre {nombre} parece {nombres.count(nombre)} veces en la lista")

Ingrese un nombre: Solange
El nombre Solange parece 1 veces en la lista

3. Desarrolla un script en python que permita ingresar un nombre y mostrar en que posición de la lista se encuentra el mismo. Realiza las combinaciones necesarias para que no se genere un error si es que el nombre no existe.

In [8]:
nombre= input("Ingrese un nombre: ").title()
if nombre in alumnos:
  posicion = alumnos.index(nombre)
  print(f"El alumno está en la posicion {posicion}")
else:
  print(f"EL alumno no está en la lista")

Ingrese un nombre: Morena
EL alumno no está en la lista

4. Agrega un nombre al final de la lista, otro al principio y otro en la posición anterior a la de tu nombre en la lista. Tene en cuenta el formato usado para ingresar los datos: "apellidos, nombres"

In [13]:
nombres = input("Ingrese los nombres del estudiante: ").title()
apellidos = input("Ingrese los apellidos del estudiante: ").title()
nombre_completo = apellidos+", "+nombres
alumnos.append(nombre_completo)

Ingrese los nombres del estudiante: Vicky
Ingrese los apellidos del estudiante: Flores

In [9]:
nombres = input("Ingrese los nombres del estudiante: ").title()
apellidos = input("Ingrese los apellidos del estudiante: ").title()
nombre_completo = apellidos+", "+nombres
alumnos.insert(0,nombre_completo)

Ingrese los nombres del estudiante: Fabricio
Ingrese los apellidos del estudiante: Lascano

In [10]:
nombres = input("Ingrese los nombres del estudiante: ").title()
apellidos = input("Ingrese los apellidos del estudiante: ").title()
nombre_completo = apellidos+", "+nombres


nombre= "Retamal Cisneros, Zacarias Josue"
if nombre in alumnos:
  posicion = alumnos.index(nombre)
  alumnos.insert(posicion,nombre_completo)
else:
  print(f"EL alumno no está en la lista")

Ingrese los nombres del estudiante: Tomas
Ingrese los apellidos del estudiante: Martinez

In [11]:
for alumno in alumnos:
  print(alumno)

Lascano, Fabricio
Alurralde, Solange Stefania
Alvarado, Ludmila Del Milagro
Angel, Camila Juliana
Arenas, Lucas Gabriel
Caseres, Maria Antonia
Castillo, Paulina Milagros
Correa Segovia, Hugo Mariano
D Elia, Alvaro Tadeo
Flores, Victoria Agustina
Geronimo Soriano, Lizzie Amaya
Guzman, Angélica Morena
Guzman, Jazmin Esmeralda Belen
Jaime, Anita Maria Belen
Lacour Polo, Nazarena
Lascano Guanca, Marcelo Fabricio
Lezcano, Celia Morena
Mamani Kynast, Nicolas Mauricio
Martinez, Tomas Andres
Portella Valdivia, Pedro Francisco
Martinez, Tomas
Retamal Cisneros, Zacarias Josue
Rosales, Francisco Gabriel
Salem Barba, Mahia
Soto Camara, Agustin Ignacio
Villalba, Irina
Voltolini, Emanuel Tobias
Zalazar, Santino Stefano
Abud Laspiur, Lourdes Mariel
Amador, Luana Micaela
Anaquin, Leonardo Ezequiel
Araoz Sanchez, Lautaro Nahuel
Argañaraz, Agostina Abril
Barrera, Matias Ezequiel
Barrozo Vedia, Joaquin Nicolas
Bettinelli, Valentino
Bracamonte Martinez, Salvador
Colque Rivero, Ariana Zoe Del Valle
Diaz, Dulce Maitena
Figueroa, Santino Josue
Flores Cardozo, Agustina Tiara
Gallo, Octavio Ismael
Galvan, Lourdes Yamila
Giangreco, Vitto Tomasso
Grancara, Martina Luna
Guanca, Sara Elizabeth
Lopez, Victoria Constanza
Mamani Garrido, Rosario Agostina
Marinaro, Martin Ezequiel
Merluzzi Dagum, Ignacio
Messina, Martina
Rasuk, Karim
Rios, Lucia Magali
Sanchez Flores, Matías Agustín
Scarano, Renato Marcelo
Sierra, Lucas Mauricio
Tapia, Martin Gabriel
Vilte, Mia Antonella Alondra
Virgillito, Katya Milena

5. Mostrá cada elemento de la lista mientras la vacias usando el metodo pop(). Para lograr esto usá la estructura while.

Tene en cuenta que:


>```python
bool([]) = False
```

In [14]:
while alumnos:
  un_alumno = alumnos.pop()
  print(un_alumno)

Flores, Vicky
Virgillito, Katya Milena
Vilte, Mia Antonella Alondra
Tapia, Martin Gabriel
Sierra, Lucas Mauricio
Scarano, Renato Marcelo
Sanchez Flores, Matías Agustín
Rios, Lucia Magali
Rasuk, Karim
Messina, Martina
Merluzzi Dagum, Ignacio
Marinaro, Martin Ezequiel
Mamani Garrido, Rosario Agostina
Lopez, Victoria Constanza
Guanca, Sara Elizabeth
Grancara, Martina Luna
Giangreco, Vitto Tomasso
Galvan, Lourdes Yamila
Gallo, Octavio Ismael
Flores Cardozo, Agustina Tiara
Figueroa, Santino Josue
Diaz, Dulce Maitena
Colque Rivero, Ariana Zoe Del Valle
Bracamonte Martinez, Salvador
Bettinelli, Valentino
Barrozo Vedia, Joaquin Nicolas
Barrera, Matias Ezequiel
Argañaraz, Agostina Abril
Araoz Sanchez, Lautaro Nahuel
Anaquin, Leonardo Ezequiel
Amador, Luana Micaela
Abud Laspiur, Lourdes Mariel
Zalazar, Santino Stefano
Voltolini, Emanuel Tobias
Villalba, Irina
Soto Camara, Agustin Ignacio
Salem Barba, Mahia
Rosales, Francisco Gabriel
Retamal Cisneros, Zacarias Josue
Martinez, Tomas
Portella Valdivia, Pedro Francisco
Martinez, Tomas Andres
Mamani Kynast, Nicolas Mauricio
Lezcano, Celia Morena
Lascano Guanca, Marcelo Fabricio
Lacour Polo, Nazarena
Jaime, Anita Maria Belen
Guzman, Jazmin Esmeralda Belen
Guzman, Angélica Morena
Geronimo Soriano, Lizzie Amaya
Flores, Victoria Agustina
D Elia, Alvaro Tadeo
Correa Segovia, Hugo Mariano
Castillo, Paulina Milagros
Caseres, Maria Antonia
Arenas, Lucas Gabriel
Angel, Camila Juliana
Alvarado, Ludmila Del Milagro
Alurralde, Solange Stefania
Lascano, Fabricio

In [15]:
print(alumnos)

[]

6. Crea un menú para ordenar la lista de manera ascendente o descendente. Realiza esta acción y muestra el resultado según la opción elegida por el usuario.

In [16]:
print("""
      a - Ordenar de manera asendente
      d - Odenar la lista de manera descendente
      Ingrese una opcion:""")
op = input().lower() #A --> a
if op == 'a':
  alumnos.sort()
elif op == 'd':
  alumnos.sort(reverse= True)
else:
  print("La opcion ingresada no es correcta")

for alumno in alumnos:
  print(alumno)

      a - Ordenar de manera asendente
      d - Odenar la lista de manera descendente
      Ingrese una opcion:
d

7. - Crea, a partir de la lista estudiantes, una nueva lista tupla_estudiantes que contenga los nombres en formato de tuplas, donde el primer elemento sea el apellido y el segundo el nombre.
  - Muestra cada tupla de la nueva lista.

In [17]:
tupla_estudiantes = []
for alumno in alumnos:
  apellido,nombre = alumno.split(',')
  nombre = nombre.strip()
  tupla_estudiantes.append((apellido,nombre))

for alumno in tupla_estudiantes:
  print(alumno)

8. Crea un menú como el del ejercicio 6, pero ahora permite elegir si ordenar alfabéticamente por nombre o por apellido.
> Para resolver este ejercicio, solicitar ayuda en clase o en el foro

In [18]:
def segunda_posicion(tupla):
  return tupla[1]

nombre = ('Josue', 'Retamal Cisneros')
print(segunda_posicion(nombre))

Retamal Cisneros

In [19]:
print("""
an - Ordenar ascendentemente por nombre
aa - Ordenar ascendentemente por apellido
dn - Ordenar descendentemente por nombre
da - Ordenar descendentemente por apellido
Ingrese una opcion: """)
op = input().lower()
if op == 'an':
  tupla_estudiantes.sort(key=segunda_posicion)
elif op == 'aa':
  tupla_estudiantes.sort()
elif op == 'dn':
  tupla_estudiantes.sort(key=segunda_posicion,reverse=True)
elif op == 'da':
  tupla_estudiantes.sort(reverse= True)
else:
  print("La opcion ingresada es incorrecta")
for estudiante in tupla_estudiantes:
  print(estudiante)

an - Ordenar ascendentemente por nombre
aa - Ordenar ascendentemente por apellido
dn - Ordenar descendentemente por nombre
da - Ordenar descendentemente por apellido
Ingrese una opcion:
aa

9. Agrega un dato en la posición siguiente a la de tu nombre en el nuevo formato de tupla. Para esto solicita al usuario su nombre y apellido, almacena estos datos en una tupla y agrega la misma a la lista "tupla_estudiantes"

In [6]:
nombres = input("Ingrese los nombres del estudiante: ").title()
apellidos = input("Ingrese los apellidos del estudiante: ").title()
nombre_completo_tupla = (apellidos, nombres)

Ingrese los nombres del estudiante: Josue
Ingrese los apellidos del estudiante: Retamal

10. - Pedir al usuario un nombre y mostrar todos los estudiantes que tengan ese nombre.
  - Hacer lo mismo con un apellido.

In [7]:
nombre = input("Ingrese un nombre:").title()
for alumno in alumnos:
  if nombre in alumno:
    print(alumno)
apellido = input(" Ingrese un apellido:").title()
for alumno in alumnos:
  if apellido in alumno:
    print(alumno)

Ingrese un nombre:Francisco
Rosales, Francisco Gabriel
 Ingrese un apellido:Portella
Portella Valdivia, Pedro Francisco

11. Pedir un nombre al usuario y eliminar todos los registros donde se encuentre un estudiante con el nombre ingresado.

In [20]:
nombreusuario=input("ingresar un nombre")
for i in range(len(alumnos)):
  if nombreusuario==alumnos[i]:
    alumnos.pop(i)
    break
for i in range(len(alumnos)):
  print(alumnos[i])

ingresar un nombreAnita

12. Pedir dos apellidos al usuario, y reemplazar el primer apellido por el segundo en todos los registros donde se encuentre.

In [26]:
apellido1=input("ingrese un apellido")
apellido2=input("ingrese un apellido")
for i in range(len(alumnos)):
  if alumnos[i].find(apellido1)!=-1:
   alumnos[i]=alumnos[i].replace(apellido1,apellido2)
for i in range(len(alumnos)):
  print(alumnos[i])

ingrese un apellidoCorrea