<a href="https://colab.research.google.com/github/josuereta/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [31]:
d =  {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
tuple(d.items())

(('name', 'Abud Laspiur, Lourdes Mariel'),
 ('section', 'C'),
 ('dob', '05/12/2006'))

In [ ]:
lista_tuplas=[]
for estudiante in estudiantes:
  est_tupla = tuple(estudiante.items())
  lista_tuplas.append(est_tupla)

# for estudiante in lista_tuplas:
#   print(estudiante)

conjunto_estudiantes = set(lista_tuplas)

lista_sin_repetidos =[]
for estudiante in conjunto_estudiantes:
  estudiante_dict = dict(estudiante)
  lista_sin_repetidos.append(estudiante_dict)

for estudiante in lista_sin_repetidos:
  print(estudiante)

{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}

In [32]:
t = (('name', 'Retamal Zacarias, Josue Cisnero'), ('section', 'D'), ('dob', '24/02/2007'))
dict(t)

{'name': 'Retamal Zacarias, Josue Cisnero',
 'section': 'D',
 'dob': '24/02/2007'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [ ]:
nombres_5c = set()
apellidos_5c =set()
nombres_5d = set()
apellidos_5d =set()

for estudiante in estudiantes:
  nombre_completo = estudiante["name"]
  apellido, nombre = nombre_completo.split(",")
  apellidos = apellido.split(" ")
  nombres = nombre.split()
  if estudiante["section"] == "C":
    for nombre in nombres:
      nombres_5c.add(nombre)
    for apellido in apellidos:
      apellidos_5c.add(apellido)
  else:
    for nombre in nombres:
      nombres_5d.add(nombre)
    for apellido in apellidos:
      apellidos_5d.add(apellido)
print(nombres_5c)
print(apellidos_5c)
print(nombres_5d)
print(apellidos_5d)

{'Martin', 'Mia', 'Matias', 'Del', 'Octavio', 'Micaela', 'Lucas', 'Tomasso', 'Elizabeth', 'Gabriel', 'Ariana', 'Valle', 'Martina', 'Milena', 'Ezequiel', 'Joaquin', 'Mariel', 'Vitto', 'Luna', 'Ismael', 'Josue', 'Luana', 'Ignacio', 'Agostina', 'Lourdes', 'Karim', 'Mauricio', 'Lautaro', 'Rosario', 'Sara', 'Constanza', 'Agustín', 'Matías', 'Zoe', 'Lucia', 'Katya', 'Magali', 'Yamila', 'Nahuel', 'Leonardo', 'Santino', 'Maitena', 'Nicolas', 'Valentino', 'Marcelo', 'Tiara', 'Victoria', 'Antonella', 'Agustina', 'Dulce', 'Alondra', 'Salvador', 'Abril', 'Renato'}
{'Figueroa', 'Giangreco', 'Galvan', 'Martinez', 'Flores', 'Grancara', 'Marinaro', 'Dagum', 'Bracamonte', 'Mamani', 'Merluzzi', 'Barrera', 'Gallo', 'Scarano', 'Sierra', 'Barrozo', 'Tapia', 'Lopez', 'Rivero', 'Messina', 'Rasuk', 'Cardozo', 'Argañaraz', 'Guanca', 'Anaquin', 'Vilte', 'Amador', 'Garrido', 'Bettinelli', 'Colque', 'Diaz', 'Vedia', 'Virgillito', 'Laspiur', 'Abud', 'Rios', 'Araoz', 'Sanchez'}
{'Del', 'Andres', 'Morena', 'Solange', 'Lucas', 'Gabriel', 'Mahia', 'Paulina', 'Stefano', 'Fabricio', 'Lizzie', 'Anita', 'Antonia', 'Irina', 'Belen', 'Milagro', 'Hugo', 'Amaya', 'Josue', 'Ignacio', 'Tadeo', 'Nazarena', 'Esmeralda', 'Pedro', 'Juliana', 'Celia', 'Ludmila', 'Agustin', 'Tobias', 'Santino', 'Milagros', 'Mariano', 'Marcelo', 'Victoria', 'Agustina', 'Angélica', 'Tomas', 'Stefania', 'Francisco', 'Emanuel', 'Camila', 'Maria', 'Alvaro', 'Jazmin', 'Zacarias'}
{'Polo', 'Portella', 'Castillo', 'Martinez', 'Flores', 'Jaime', 'D', 'Geronimo', 'Salem', 'Segovia', 'Soriano', 'Correa', 'Valdivia', 'Camara', 'Elia', 'Barba', 'Cisneros', 'Alurralde', 'Alvarado', 'Guanca', 'Lezcano', 'Arenas', 'Zalazar', 'Caseres', 'Soto', 'Guzman', 'Angel', 'Lascano', 'Villalba', 'Retamal', 'Voltolini', 'Rosales', 'Lacour'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [35]:
nombres_unicos_5c = nombres_5c.union(nombres_5c)
print("Cantidad de nombres únicos en 5C:")
print(f"cantidad: {len(nombres_unicos_5c)}, {nombres_unicos_5c}")

nombres_unicos_5d = nombres_5d.union(nombres_5d)
print("Cantidad de nombres únicos en 5D:")
print(f"cantidad: {len(nombres_unicos_5d)}, {nombres_unicos_5d}")

Cantidad de nombres únicos en 5C:
cantidad: 54, {'Milena', 'Elizabeth', 'Del', 'Octavio', 'Ezequiel', 'Tomasso', 'Sara', 'Lautaro', 'Mauricio', 'Rosario', 'Lucas', 'Victoria', 'Lucia', 'Luana', 'Martin', 'Ariana', 'Valle', 'Matias', 'Gabriel', 'Mariel', 'Valentino', 'Maitena', 'Marcelo', 'Abril', 'Constanza', 'Mia', 'Luna', 'Magali', 'Joaquin', 'Alondra', 'Katya', 'Ignacio', 'Dulce', 'Renato', 'Leonardo', 'Vitto', 'Micaela', 'Matías', 'Lourdes', 'Josue', 'Agostina', 'Ismael', 'Karim', 'Antonella', 'Zoe', 'Tiara', 'Santino', 'Agustín', 'Nicolas', 'Nahuel', 'Salvador', 'Martina', 'Yamila', 'Agustina'}
Cantidad de nombres únicos en 5D:
cantidad: 46, {'Hugo', 'Tomas', 'Juliana', 'Zacarias', 'Alvaro', 'Del', 'Lizzie', 'Camila', 'Tadeo', 'Andres', 'Amaya', 'Stefano', 'Agustin', 'Lucas', 'Victoria', 'Emanuel', 'Gabriel', 'Tobias', 'Marcelo', 'Belen', 'Solange', 'Jazmin', 'Stefania', 'Antonia', 'Paulina', 'Angélica', 'Celia', 'Ignacio', 'Maria', 'Mahia', 'Francisco', 'Josue', 'Milagros', 'josue', 'Santino', 'Milagro', 'Mariano', 'Morena', 'Pedro', 'Esmeralda', 'Anita', 'Fabricio', 'Agustina', 'Ludmila', 'Nazarena', 'Irina'}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [37]:
a_unicos_5c = apellidos_5c.union(apellidos_5c)
print("Cantidad de apellidos únicos en 5C:")
print(f"cantidad: {len(a_unicos_5c)}, {a_unicos_5c}")

a_unicos_5d = apellidos_5d.union(apellidos_5d)
print("Cantidad de apellidos únicos en 5D:")
print(f"cantidad: {len(a_unicos_5d)}, {a_unicos_5d}")

Cantidad de apellidos únicos en 5C:
cantidad: 38, {'Sierra', 'Laspiur', 'Argañaraz', 'Abud', 'Colque', 'Amador', 'Merluzzi', 'Garrido', 'Sanchez', 'Anaquin', 'Figueroa', 'Gallo', 'Vedia', 'Marinaro', 'Diaz', 'Martinez', 'Rivero', 'Vilte', 'Dagum', 'Rasuk', 'Barrozo', 'Cardozo', 'Giangreco', 'Messina', 'Virgillito', 'Flores', 'Barrera', 'Scarano', 'Mamani', 'Bracamonte', 'Araoz', 'Guanca', 'Lopez', 'Bettinelli', 'Galvan', 'Rios', 'Tapia', 'Grancara'}
Cantidad de apellidos únicos en 5D:
cantidad: 34, {'Correa', 'Retamal', 'Angel', 'retamal', 'Caseres', 'Camara', 'Geronimo', 'Valdivia', 'Portella', 'Alvarado', 'Arenas', 'Segovia', 'Polo', 'Martinez', 'Voltolini', 'Alurralde', 'Soto', 'Soriano', 'Villalba', 'Cisneros', 'Zalazar', 'Lascano', 'Flores', 'Lezcano', 'D', 'Barba', 'Rosales', 'Guanca', 'Castillo', 'Lacour', 'Guzman', 'Salem', 'Elia', 'Jaime'}

5. Mostrá los nombres que se aparecen em ambos cursos

In [39]:
nombres_en_ambos_cursos = nombres_5c.intersection(nombres_5d)
print(f"Los nombres que aparecen en ambos cursos son: {nombres_en_ambos_cursos}")

Los nombres que aparecen en ambos cursos son: {'Lucas', 'Victoria', 'Santino', 'Del', 'Gabriel', 'Marcelo', 'Josue', 'Agustina', 'Ignacio'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [41]:
apellidos_en_ambos_cursos = apellidos_5c.intersection(apellidos_5d)
print(f"Los apellidos que aparecen en ambos cursos son: {apellidos_en_ambos_cursos}")

Los apellidos que aparecen en ambos cursos son: {'Martinez', 'Flores', 'Guanca'}

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [43]:
nombres_solo_5c = nombres_5c.difference(nombres_5d)
print(f"Nombres de estudiantes de 5C que no existen en 5D: {nombres_solo_5c}")

nombres_solo_5d = nombres_5d.difference(nombres_5c)
print(f"Nombres de estudiantes de 5D que no existen en 5C: {nombres_solo_5d}")

Nombres de estudiantes de 5C que no existen en 5D: {'Milena', 'Elizabeth', 'Octavio', 'Ezequiel', 'Tomasso', 'Sara', 'Lautaro', 'Mauricio', 'Rosario', 'Lucia', 'Luana', 'Martin', 'Ariana', 'Valle', 'Matias', 'Mariel', 'Valentino', 'Maitena', 'Abril', 'Constanza', 'Mia', 'Luna', 'Magali', 'Joaquin', 'Alondra', 'Katya', 'Dulce', 'Renato', 'Leonardo', 'Vitto', 'Micaela', 'Matías', 'Lourdes', 'Agostina', 'Ismael', 'Karim', 'Zoe', 'Tiara', 'Agustín', 'Nicolas', 'Nahuel', 'Salvador', 'Martina', 'Yamila', 'Antonella'}
Nombres de estudiantes de 5D que no existen en 5C: {'Hugo', 'Tomas', 'Juliana', 'Zacarias', 'Alvaro', 'Lizzie', 'Camila', 'Tadeo', 'Andres', 'Amaya', 'Stefano', 'Agustin', 'Emanuel', 'Tobias', 'Belen', 'Solange', 'Jazmin', 'Stefania', 'Antonia', 'Paulina', 'Angélica', 'Celia', 'Maria', 'Mahia', 'Francisco', 'Milagros', 'josue', 'Milagro', 'Mariano', 'Morena', 'Pedro', 'Esmeralda', 'Anita', 'Fabricio', 'Ludmila', 'Nazarena', 'Irina'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [45]:
apellidos_solo_5c = apellidos_5c.difference(apellidos_5d)
print(f"Apellidos de estudiantes de 5C que no existen en 5D: {apellidos_solo_5c}")

apellidos_solo_5d = apellidos_5d.difference(apellidos_5c)
print(f"Apellidos de estudiantes de 5D que no existen en 5C: {apellidos_solo_5d}")

Apellidos de estudiantes de 5C que no existen en 5D: {'Sierra', 'Laspiur', 'Argañaraz', 'Abud', 'Colque', 'Amador', 'Merluzzi', 'Garrido', 'Sanchez', 'Anaquin', 'Figueroa', 'Gallo', 'Vedia', 'Marinaro', 'Diaz', 'Rivero', 'Vilte', 'Dagum', 'Rasuk', 'Barrozo', 'Cardozo', 'Giangreco', 'Messina', 'Virgillito', 'Barrera', 'Scarano', 'Mamani', 'Bracamonte', 'Araoz', 'Lopez', 'Bettinelli', 'Galvan', 'Rios', 'Tapia', 'Grancara'}
Apellidos de estudiantes de 5D que no existen en 5C: {'Correa', 'Retamal', 'retamal', 'Angel', 'Caseres', 'Camara', 'Geronimo', 'Valdivia', 'Portella', 'Alvarado', 'Arenas', 'Segovia', 'Polo', 'Voltolini', 'Alurralde', 'Soto', 'Soriano', 'Villalba', 'Cisneros', 'Zalazar', 'Lascano', 'Lezcano', 'D', 'Barba', 'Rosales', 'Castillo', 'Lacour', 'Guzman', 'Salem', 'Elia', 'Jaime'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [47]:
nombres_en_ambos = nombres_5c.intersection(nombres_5d)
todos_los_nombres = nombres_5c.union(nombres_5d)
nombres_no_en_ambos = todos_los_nombres.difference(nombres_en_ambos)
print(f"Todos los nombres, menos los que existen en ambos cursos: {nombres_no_en_ambos}")

Todos los nombres, menos los que existen en ambos cursos: {'Hugo', 'Tomas', 'Milena', 'Juliana', 'Elizabeth', 'Alvaro', 'Ezequiel', 'Andres', 'Agustin', 'Lautaro', 'Mauricio', 'Rosario', 'Luana', 'Ariana', 'Valle', 'Belen', 'Abril', 'Constanza', 'Solange', 'Mia', 'Magali', 'Jazmin', 'Stefania', 'Alondra', 'Antonia', 'Paulina', 'Angélica', 'Celia', 'Renato', 'Leonardo', 'Francisco', 'Micaela', 'Agostina', 'Milagros', 'Karim', 'Zoe', 'josue', 'Agustín', 'Milagro', 'Nicolas', 'Mariano', 'Nahuel', 'Martina', 'Esmeralda', 'Fabricio', 'Ludmila', 'Nazarena', 'Irina', 'Zacarias', 'Lizzie', 'Octavio', 'Camila', 'Tadeo', 'Amaya', 'Stefano', 'Tomasso', 'Sara', 'Lucia', 'Martin', 'Emanuel', 'Matias', 'Mariel', 'Valentino', 'Maitena', 'Tobias', 'Luna', 'Katya', 'Joaquin', 'Dulce', 'Maria', 'Mahia', 'Vitto', 'Matías', 'Lourdes', 'Ismael', 'Tiara', 'Salvador', 'Morena', 'Yamila', 'Pedro', 'Anita', 'Antonella'}

10. elimina tu nombre del conjunto al que pertenece

In [49]:
mi_nombre = 'Retamal Cisneros, Zacarias Josue'
if mi_nombre in nombres_5c:
    nombres_5c.remove(mi_nombre)
print(f"Nombres de estudiantes de 5C: {nombres_5c}")

Nombres de estudiantes de 5C: {'Milena', 'Elizabeth', 'Del', 'Octavio', 'Ezequiel', 'Tomasso', 'Sara', 'Lautaro', 'Mauricio', 'Rosario', 'Lucas', 'Victoria', 'Lucia', 'Luana', 'Martin', 'Ariana', 'Valle', 'Matias', 'Gabriel', 'Mariel', 'Valentino', 'Maitena', 'Marcelo', 'Abril', 'Constanza', 'Mia', 'Luna', 'Magali', 'Joaquin', 'Alondra', 'Katya', 'Ignacio', 'Dulce', 'Renato', 'Leonardo', 'Vitto', 'Micaela', 'Matías', 'Lourdes', 'Josue', 'Agostina', 'Ismael', 'Karim', 'Antonella', 'Zoe', 'Tiara', 'Santino', 'Agustín', 'Nicolas', 'Nahuel', 'Salvador', 'Martina', 'Yamila', 'Agustina'}

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [51]:
n_usuario = input("Ingrese su nombre: ")
a_usuario = input("Ingrese su apellido: ")
nombres_5d.add(n_usuario)
apellidos_5d.add(a_usuario)
print(f"Nombres de estudiantes de 5D: {nombres_5d}")
print(f"Apellidos de estudiantes de 5D: {apellidos_5d}")

Ingrese su nombre: josue
Ingrese su apellido: retamal
Nombres de estudiantes de 5D: {'Hugo', 'Tomas', 'Juliana', 'Zacarias', 'Alvaro', 'Del', 'Lizzie', 'Camila', 'Tadeo', 'Andres', 'Amaya', 'Stefano', 'Agustin', 'Lucas', 'Victoria', 'Emanuel', 'Gabriel', 'Tobias', 'Marcelo', 'Belen', 'Solange', 'Jazmin', 'Stefania', 'Antonia', 'Paulina', 'Angélica', 'Celia', 'Ignacio', 'Maria', 'Mahia', 'Francisco', 'Josue', 'Milagros', 'josue', 'Santino', 'Milagro', 'Mariano', 'Morena', 'Pedro', 'Esmeralda', 'Anita', 'Fabricio', 'Agustina', 'Ludmila', 'Nazarena', 'Irina'}
Apellidos de estudiantes de 5D: {'Correa', 'Retamal', 'Angel', 'retamal', 'Caseres', 'Camara', 'Geronimo', 'Valdivia', 'Portella', 'Alvarado', 'Arenas', 'Segovia', 'Polo', 'Martinez', 'Voltolini', 'Alurralde', 'Soto', 'Soriano', 'Villalba', 'Cisneros', 'Zalazar', 'Lascano', 'Flores', 'Lezcano', 'D', 'Barba', 'Rosales', 'Guanca', 'Castillo', 'Lacour', 'Guzman', 'Salem', 'Elia', 'Jaime'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [53]:
nombre = input("Ingrese un nombre: ").title()
if nombre in nombres_5d:
    print(f"El nombre {nombre} existe en el diccionario.")
else:
    print(f"El nombre {nombre} no existe en el diccionario.")

Ingrese un nombre: tadeo
El nombre Tadeo existe en el diccionario.